@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'mussels-stencil';
  src: url('/font/mussels-stencil-medium.ttf');
}

body {
  background-color: black;
}

.scroll-snapping {
  display: flex;
  flex-flow: column nowrap;
  flex: none;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  width: 100%;
  scroll-behavior: smooth;
}

.scroll-snapping > div {
  flex: none;
  height: 100%;
  scroll-snap-align: center;
  width: 100%;
}

.swal2-popup {
  background: rgba(255, 255, 255, 0.5) !important;
  color: #000 !important;
}

.swal2-icon.swal2-warning {
  border-color: #be4614 !important;
  color: #be4614 !important;
}

.swal2-styled.swal2-confirm {
  background-color: #be4614 !important;
}
